
body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2efe5; 
  color: #323232; 
}

body.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero {
  padding: 20px;
  box-sizing: border-box;
  font-size: 24px;
  margin-bottom: 20px;
}

.hero .back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #323232; 
  color: #ffffff; 
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.hero .back-button:hover {
  background-color: #555555; 
}

.horizontal-line {
  width: 100%;
  border: 0;
  border-top: 1px solid #ccc; 
  margin: 50px 0;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.left-half,
.right-half {
  flex: 1;
  padding: 20px;
}

.right-half h2 {
  margin-top: 0;
}

.right-half p {
  margin-top: 0;
  font-size: 18px;
}


.contact-form {
  margin-top: 20px;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input[type=text],
.contact-form textarea {
  width: 100%; 
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  box-sizing: border-box;
  color: #323232; 
}

.contact-form textarea {
  height: 200px;
}

.contact-form input[type=submit] {
  background-color: #323232; 
  color: #ffffff; 
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form input[type=submit]:hover {
  background-color: #555555; 
}
